[AHM]/wk3exdVbOKvzHlHS.json
{
  "createdAt": "2024-10-07T17:29:17.850Z",
  "updatedAt": "2024-10-07T17:39:23.624Z",
  "id": "wk3exdVbOKvzHlHS",
  "name": "[AHM] - [INTEGRAÇÃO PIPEDRIVE]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "200fb615-fb9d-44b1-95ea-957ce8624634",
              "name": "id_planilha",
              "value": "={{ $json.body.id_planilha }}",
              "type": "string"
            },
            {
              "id": "1dc69f41-5502-4821-864a-86d54cc0d7e5",
              "name": "pagina",
              "value": "={{ $json.body.pagina }}",
              "type": "string"
            },
            {
              "id": "0cf25f2a-16f8-4568-b74e-92b0072dfdc7",
              "name": "acao",
              "value": "={{ $json.body.acao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7cd2e24d-a430-46d8-9b3f-76fb5b646e98",
      "name": "dados_planilha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "293eba4a-785d-41ce-aca1-b5f7b4d6b1c5",
              "leftValue": "={{ $('dados_planilha').item.json.acao }}",
              "rightValue": "=criar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5e7537e-a65c-4652-9f74-6661fa35fd74",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('dados_planilha').item.json.id_planilha }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('dados_planilha').item.json.pagina }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id_pedido"
          ],
          "schema": [
            {
              "id": "id_pedido",
              "displayName": "id_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "escolha_contato",
              "displayName": "escolha_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "acessorio_empilhadeira",
              "displayName": "acessorio_empilhadeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prazo_implementacao",
              "displayName": "prazo_implementacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipos_embalagem",
              "displayName": "tipos_embalagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faixa_peso",
              "displayName": "faixa_peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dimensoes",
              "displayName": "dimensoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_estabilizacao",
              "displayName": "tipo_estabilizacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pesquisa_satisfacao",
              "displayName": "pesquisa_satisfacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "083a1602-8ec0-4e73-8848-8ce2fcbb3de8",
      "name": "Novo registro",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        940,
        60
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('dados_planilha').item.json.id_planilha }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('dados_planilha').item.json.pagina }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id_pedido"
          ],
          "schema": [
            {
              "id": "id_pedido",
              "displayName": "id_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "escolha_contato",
              "displayName": "escolha_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "acessorio_empilhadeira",
              "displayName": "acessorio_empilhadeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prazo_implementacao",
              "displayName": "prazo_implementacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipos_embalagem",
              "displayName": "tipos_embalagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faixa_peso",
              "displayName": "faixa_peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dimensoes",
              "displayName": "dimensoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_estabilizacao",
              "displayName": "tipo_estabilizacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pesquisa_satisfacao",
              "displayName": "pesquisa_satisfacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "undefined",
              "displayName": "undefined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "edf2f20d-321c-4471-aafb-c7d821144eeb",
      "name": "Novo registro1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        940,
        260
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"id_pedido\":\"{{ $('Webhook').item.json.body.id_pedido }}\",\n  \"id_lead\":\"{{ $('Webhook').item.json.body.id_lead }}\",\n  \"data_cadastro\":\"{{ $('Webhook').item.json.body.data_cadastro }}\",\n  \"nome_completo\":\"{{ $('Webhook').item.json.body.nome_completo }}\",\n  \"escolha_contato\":\"\",\n  \"email\":\"{{ $('Webhook').item.json.body.email }}\",\n  \"celular\":\"{{ $('Webhook').item.json.body.celular }}\",\n  \"{{ $('Webhook').item.json.body.campo }}\":\"{{ $('Webhook').item.json.body.valor }}\" \n}",
        "options": {}
      },
      "id": "3c18a624-15a1-4c46-93aa-f1d07fc1b5b9",
      "name": "dados_atualizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e9991a79-9997-476d-84a5-1cf10c89748d",
        "options": {}
      },
      "id": "5a3c6002-a070-46d9-9e04-61be7ea1fb66",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        160
      ],
      "webhookId": "e9991a79-9997-476d-84a5-1cf10c89748d"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "acacio@gmail.com.br",
        "additionalFields": {}
      },
      "id": "6ea45165-4d7f-40d7-953a-f25702939ef9",
      "name": "Pipedrive",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        200,
        -40
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "M0LF99Z4bN1fNIRC",
          "name": "Pipedrive - AHM Solution"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Novo registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Novo registro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_atualizacao": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_planilha": {
      "main": [
        [
          {
            "node": "dados_atualizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "dados_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "70429152-9988-4fbb-839b-621e539b1e0c",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-10-04T21:45:49.751Z",
      "updatedAt": "2024-10-04T21:45:49.751Z",
      "id": "keSXrdIlim8rvA8S",
      "name": "AHM Solution"
    }
  ]
}